body {
  background: #111;
  color: white;
}

h1{
  text-align: center;
  font-size: 40px;
  font-style: italic;
}

img.imga {
  max-width: 20%;
  height: auto;
}

.topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2% 10%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  border: 1px solid white;
  padding: 10px;
  text-align: center;
}

th {
  background: gray;
}

.bot {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 5px;
  border: none;
  border-radius: 20px;
  opacity: 85%;
  cursor: pointer;
}

button:hover {
  color: blue;
}
